@import "../../../style//variables.scss";

.max_page_width {
    height: 100vh;
    background: linear-gradient(to right, #f5f7fa 50%, #e6e9ed 50%);

    .page {
        height: 750px;
        .animation_hero {
            position: absolute;
            top: 20%;
            right: 15%;
        }
        .menu_container {
            padding-top: 110px;
            border: 10px solid transparent;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .hamburger_menu_container {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .menu_icon {
            cursor: pointer;
            border-radius: 50%;
            text-align: center;
        }
    }

    .section_front_panel {
        padding: 60px 0;
        background: white;
        height: 500px;
        .icon_container {
            .icons {
                width: 1440px;
                margin: 0 auto;
                display: block;
                h2 {
                    font-size: 1.5rem;
                    letter-spacing: 0.3px;
                    font-weight: 500;
                    color: #003042;
                }
                h2:hover {
                    color: dimgray;
                }
                .container {
                    display: flex;
                    align-items: stretch;
                    margin-bottom: 90px;
                    .icon_list_item {
                        flex-basis: 33%;
                        flex-grow: 1;
                        flex-shrink: 1;
                        position: relative;
                        .icon_list_item_content {
                            display: block;
                            .icon_mix {
                                display: flex;
                                justify-content: center;
                            }
                            h4 {
                                text-align: center;
                                font-size: 1.5rem;
                                letter-spacing: 0.6px;
                                margin: 24px 0;
                            }
                            p {
                                margin: 0 auto;
                                width: 220px;
                                word-wrap: nowrap;
                                line-height: 1.5;
                            }
                        }
                    }
                    .icon_list_item:nth-child(-n + 2)::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 2px;
                        height: 90%;
                        background: #d5dce8;
                        transform: translateX(50%);
                    }
                }
            }
        }
    }
    .news_section {
        background: #ffffff;
        padding: 40px 0;

        .news_container {
            max-width: 1440px;
            margin: 0 auto;
            .articles {
                display: flex;
                justify-content: center;
                overflow: hidden;
                article {
                    width: 150px;
                    height: 250px;
                    overflow: hidden;
                    margin: 0 13px 0 13px;
                }
                p {
                    font-size: 1em;
                    color: #4b5974;
                    letter-spacing: 0.025em;
                    line-height: 1.36;
                    margin: 0;
                    overflow: hidden;
                }
            }
        }
    }
    .footer_section {
        background: #e6e9ed;
        padding: 40px 0;
        .footer {
            position: relative;
            height: 600px;
            width: 1440px;
            margin: 0 auto;
            .newsletter_container {
                height: 200px;
                display: block;
                text-align: center;
                h1 {
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                }
                .newsletter_button {
                    width: 150px;
                    height: 45px;
                    border-radius: 5px;
                    text-align: center;
                    outline: none !important;
                    font-size: 1rem;
                    font-weight: 500;
                    letter-spacing: 0.1px;
                    background-color: crimson;
                    color: white;
                }
                .newsletter_button:active {
                    outline: none;
                    background-color: blue;
                }
                .footer_separator {
                    padding: 20px 0;
                    line {
                        border-top: 3px solid #bbb;
                        max-width: 1360px;
                    }
                }
            }
            .footer_container {
                max-width: 1440px;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                .links_container {
                    margin: auto 0;
                    display: flex;
                    flex-direction: column;
                    a {
                        margin: 0 0 10px 0;
                        font-size: 0.75rem;
                        font-weight: 500;
                        color: #003042;
                    }
                }
            }
            .footer_link {
                .arrow_icon {
                    position: absolute;
                    border-radius: 50%;
                    padding: 10px;
                    background: dimgray;
                    top: 500px;
                    right: 75px;
                }
            }
        }
        .footer_date_container {
            display: flex;
            justify-content: center;
            .date_rights {
                font-weight: 500;
            }
        }
    }
}
